<!--client.vtl-->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <h2>$client.getName()</h2>
      <h3>Stylist: $stylist.getName()</h3>
      <!-- upcomding appointments -->
    </div>
  </div>
</div>
<!--client.vtl-->
