<!--index.vtl-->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <h3>All Stylists</h3>
      <ul>
        #foreach($stylist in $stylists)
          <li><a href="/stylists/$stylist.getId()">$stylist.getName()</a></li>
        #end
      </ul>
    </div>
  </div>
</div>
<!--index.vtl-->
